In [32]:
import numpy as np

In [33]:
import pandas as pd

data may be any form or any type , then pandas is used to deal wit
h different kinds of files type  and data frames , vector , column and row (series)data etc,.

In [5]:
s1  = pd.Series([1,2,3,4,5,5,55])

In [6]:
s1

0     1
1     2
2     3
3     4
4     5
5     5
6    55
dtype: int64

In [7]:
import pandas as pd
import numpy as np

In [8]:
# pandas is used to manipulate and maintain the data

In [9]:
list("xyzy")

['x', 'y', 'z', 'y']

In [10]:
#np.random.randint(low,high,size,dtype)

In [11]:
#dataset.attributename.valur_counts()
#gives the data of categorical or nominal values

In [12]:
data = np.random.randint(1,1100,size=100)
print(data)

[ 866  498  264  467  998  926  725 1071  878  652  176  886  891  295
  953  185  165 1079  268  608  954  675  708  405  257  614  507 1054
  563  890  566  537  871  805  246 1053  322  622  838  766  459    4
  194   11  295  557  857  760  586  408  214  938  404  216 1054  413
  832  896  450  326  617  284  220  232   44 1031   31  511  611 1097
  355 1046  584  266  173   71  588 1048  556  719  988  463  389  983
  556 1095  673  105  213  764  361  308  874  131  133  327 1064   80
  803  856]

In [13]:
data1 = pd.DataFrame(data,columns=list("abcd"))

ValueError: Shape of passed values is (100, 1), indices imply (100, 4)

In [ ]:
print(data1)

       0
0    425
1    754
2    908
3    944
4   1007
..   ...
95   702
96   471
97   493
98   358
99   184

[100 rows x 1 columns]

In [ ]:
# implace mean replace and implement

In [ ]:
data2 = pd.DataFrame(data = np.random.randint(1,100,size=(100,3)),columns=list("abc"))
data3 = pd.DataFrame(data = np.random.randint(1,100,size=(100,3)),columns=list("ayz"))

In [ ]:

data3

     a   y   z
0   55  49  46
1   60  22  43
2   79  16  54
3   14  88  33
4   66   3  65
..  ..  ..  ..
95   3  79  20
96  82  10   8
97   2  42  82
98  99  65  10
99  72  79  65

[100 rows x 3 columns]

In [ ]:
data2

     a   b   c
0   90  56  56
1   38  70  11
2   52  98  92
3   38  57  18
4   71  10  80
..  ..  ..  ..
95  29  90   5
96  59  12  79
97  68  74  24
98  34  17  91
99   9  30  15

[100 rows x 3 columns]

In [ ]:
data3.merge(data2,on="a")

     a   y   z   b   c
0   55  49  46  38  32
1   60  22  43  50  33
2   60  22  43  60  36
3   60  22  43  71  30
4   79  16  54  58  34
..  ..  ..  ..  ..  ..
84  68   3  99  74  24
85  10  38  46  59  64
86  10  38  46  17  32
87   3  79  20  25  41
88   2  42  82  38  99

[89 rows x 5 columns]

In [14]:
dataset = pd.read_csv("D:\ml 5 minutes engineering\DATASETS\Car.csv")

In [15]:
dataset

    Age  Income  Car
0    28   37000    0
1    27   88000    0
2    28   59000    0
3    32   86000    0
4    33  149000    1
..  ...     ...  ...
95   28   89000    0
96   34   43000    0
97   30   79000    0
98   20   36000    0
99   26   80000    0

[100 rows x 3 columns]

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     100 non-null    int64
 1   Income  100 non-null    int64
 2   Car     100 non-null    int64
dtypes: int64(3)
memory usage: 2.5 KB

In [19]:
dataset.Income.value_counts()

59000    6
71000    4
72000    4
89000    4
43000    4
        ..
85000    1
74000    1
45000    1
76000    1
36000    1
Name: Income, Length: 62, dtype: int64

In [25]:
dataset.rename(columns={"Income":"Monthly_Income"},inplace=True)
dataset

    Age  Monthly_Income  Car
0    28           37000    0
1    27           88000    0
2    28           59000    0
3    32           86000    0
4    33          149000    1
..  ...             ...  ...
95   28           89000    0
96   34           43000    0
97   30           79000    0
98   20           36000    0
99   26           80000    0

[100 rows x 3 columns]

In [36]:
dataset2 = pd.read_csv("D:\ml 5 minutes engineering\DATASETS\abc.csv")
#:\ml 5 minutes engineering\DATASETS

OSError: [Errno 22] Invalid argument: 'D:\\ml 5 minutes engineering\\DATASETS\x07bc.csv'

                            FILE OPERATIONS

In [47]:
file1 = open("file.txt","r")            #x : create mode


print(file1)
file1.write("Hi there this is a new file")                #x : create mode

<_io.TextIOWrapper name='file.txt' mode='r' encoding='cp1252'>

UnsupportedOperation: not writable

In [46]:
print(file1.read())

UnsupportedOperation: not readable

In [49]:
file2= open("file1.txt","x")

In [52]:
file2.write("Hi there")

ValueError: I/O operation on closed file.

In [55]:
file2 = open("file1.txt","r")
print(file2.read())

Hi thereHi thereHi there

In [60]:
file1.close()

to add an contnent in already writtin text use append mode "a"
whereas using "w" again may override the existing info

In [58]:
import os

In [61]:
os.remove("file.txt")

In [23]:
import numpy as np

In [24]:
a3 = [[[0,1,2],[3,4,5],[6,7,8]],
      [[9,10,11],[12,13,14],[15,16,17]],
      [[18,19,20],[21,22,23],[24,25,26]]]

In [25]:
a3

[[[0, 1, 2], [3, 4, 5], [6, 7, 8]],
 [[9, 10, 11], [12, 13, 14], [15, 16, 17]],
 [[18, 19, 20], [21, 22, 23], [24, 25, 26]]]

In [26]:
for i in np.nditer(a3):
    print(i)

(array(0), array(9), array(18))
(array(1), array(10), array(19))
(array(2), array(11), array(20))
(array(3), array(12), array(21))
(array(4), array(13), array(22))
(array(5), array(14), array(23))
(array(6), array(15), array(24))
(array(7), array(16), array(25))
(array(8), array(17), array(26))

In [27]:
np.transpose(a3)

array([[[ 0,  9, 18],
        [ 3, 12, 21],
        [ 6, 15, 24]],

       [[ 1, 10, 19],
        [ 4, 13, 22],
        [ 7, 16, 25]],

       [[ 2, 11, 20],
        [ 5, 14, 23],
        [ 8, 17, 26]]])

In [28]:
print(a3)

[[[0, 1, 2], [3, 4, 5], [6, 7, 8]], [[9, 10, 11], [12, 13, 14], [15, 16, 17]], [[18, 19, 20], [21, 22, 23], [24, 25, 26]]]

In [29]:
np.hsplit(a3,2)

AttributeError: 'list' object has no attribute 'ndim'